<div class="wrap wp_bootstrap">

	<div class="icon32" id="icon-options-general"><br></div>
	<h2 class="page-title">Gallery Editor {{#gallery}}:: {{title}}{{/gallery}}</h2>
			
	<script type="text/javascript">
		(function($){
			$(document).ready(function(){
				$('.vimeography-gallery-menu-content').collapse({parent: '#vimeography-gallery-menu-container'});
				
				$('.vimeography-gallery-menu-content').on('show', function () {
					$('.vimeography-gallery-menu-heading.active').removeClass('active').find('i').removeClass('icon-white');
					$(this).prev().addClass('active').find('i').addClass('icon-white');
				});
				
				// Switch to the theme list
				$('#vimeography-switch-themes').click(function(e){
					e.preventDefault();
					$('#vimeography-menu-slider').animate({marginLeft: '-280px'});
					$("#aujus").mCustomScrollbar("update");
				});
				
				{{! Javascript below only appears if the theme supports custom settings}}
				{{#theme_supports_settings}}
    				$('#vimeography-edit-appearance, .theme-container.selected a').click(function(e){
    					e.preventDefault();
    					$('#vimeography-menu-slider').animate({marginLeft: '-560px'});
    					$("#aujus2").mCustomScrollbar("update");
    				});
    				
    				$('#vimeography-back-to-themes').click(function(e){
    					e.preventDefault();
    					$('#vimeography-menu-slider').animate({marginLeft: '-280px'});
    				});
    				
    				$("#aujus2").mCustomScrollbar();
				{{/theme_supports_settings}}
				{{! End variable Javascript}}
				
				// Slide back to the main menu
				$('#vimeography-back-to-main-menu').click(function(e){
					e.preventDefault();
					$('#vimeography-menu-slider').animate({marginLeft: '0px'});
				});
				
				// Add support for the question popovers
				$('.icon-question-sign').popover({trigger: 'hover'});
				
				// Create our scrollbar for the theme list menu panel
				$("#aujus").mCustomScrollbar();
				
				// Affix the menu when we scroll
				$('#vimeography-gallery-menu-container').affix({offset: 124});
				
				// Fade in the check marks when we hover down the theme list menu panel
				$('.theme-container').mouseover(function(){
				  $(this).find('.icon-ok').stop(true, true).fadeIn(200);
				}).mouseout(function(){
				  $(this).find('.icon-ok').stop(true, true).fadeOut(200);
				});
           
			});
		})(jQuery)
	</script>
		
	{{#messages}}
		<div class="alert alert-{{type}} fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
			<h3 class="alert-heading">{{heading}}</h3>
			<p>{{message}}</p>
		</div>
	{{/messages}}
	
  <div class="alert">
    <strong>Want more?</strong> With Vimeography Pro, you can sort your videos, create playlists, show unlimited videos, add comments and more.
    <a href="{{admin_url}}pro" title="Learn more about Vimeography Pro">Learn more &rarr;</a>
  </div>
	
	{{#gallery}}
	
	<div id="vimeography-gallery-editor">
		
		<div id="vimeography-gallery-menu-container">			
			<div id="vimeography-menu-slider" style="height: 100%; width: 840px;">
						
				<div id="vimeography-gallery-main-menu-container">
					<div style="width: 100%; height: 100%;">
						<div class="vimeography-gallery-meta">
							<h1>{{title}}</h1>
							<h2><a href="{{source_url}}" title="{{title}}" target="_blank">{{source_url}}</a></h2>
						</div>
						
						<div id="vimeography-gallery-main-menu">
						
							<div class="vimeography-gallery-menu-group">
							
								<div class="vimeography-gallery-menu-heading">
									<a href="#vimeography-gallery-menu-settings" data-parent="#vimeography-gallery-menu" data-toggle="collapse">Settings <i class="icon-wrench pull-right"></i></a>
								</div>
								
								<div id="vimeography-gallery-menu-settings" class="vimeography-gallery-menu-content collapse">
								    <form method="post" action="{{admin_url}}edit-galleries&id={{id}}">
								    	<div class="vimeography-gallery-menu-setting first">
										    <label>Refresh the videos every <i class="icon-question-sign pull-right" title="Video Cache Rate" data-content="Specifies how frequently Vimeography should check your Vimeo source for any new videos that may have been added."></i></label>
											<select id="vimeography-cache" class="span3" name="vimeography_basic_settings[cache_timeout]" style="width: 180px;">
												<option value='0' {{#selected}}{{#0}}selected="selected"{{/0}}{{/selected}}>page load</option>
												<option value='900' {{#selected}}{{#900}}selected="selected"{{/900}}{{/selected}}>15 minutes</option>
												<option value='1800' {{#selected}}{{#1800}}selected="selected"{{/1800}}{{/selected}}>30 minutes</option>
												<option value='3600' {{#selected}}{{#3600}}selected="selected"{{/3600}}{{/selected}}>hour</option>
												<option value='86400' {{#selected}}{{#86400}}selected="selected"{{/86400}}{{/selected}}>day</option>
												<option value='604800' {{#selected}}{{#604800}}selected="selected"{{/604800}}{{/selected}}>week</option>
												<option value='2419200' {{#selected}}{{#2419200}}selected="selected"{{/2419200}}{{/selected}}>month</option>
											</select>
											<a href="{{admin_url}}edit-galleries&id={{id}}&refresh=1" class="btn btn-mini" title="Refresh Now"><em class="icon-refresh"></em></a>
										</div>
										
								    	<div class="vimeography-gallery-menu-setting">
									    	<label>Number of videos <i class="icon-question-sign pull-right" title="Number of videos" data-content="Specifies the number of videos that will appear in your gallery. You can display a maximum of up to 60 videos."></i></label>
									    	<input type="text" class="span3" name="vimeography_basic_settings[video_limit]" value="{{video_limit}}" />
										</div>
										
								    	<div class="vimeography-gallery-menu-setting">
									    	<label>Max gallery width <i class="icon-question-sign pull-right" title="Max Gallery Width" data-content="Specifies the maximum width that your gallery container can expand to."></i></label>
									    	<input type="text" class="span3" name="vimeography_basic_settings[gallery_width]" placeholder="eg. 960px, 35%" value="{{gallery_width}}" />
										</div>
										
								    	<div class="vimeography-gallery-menu-setting">
									    	<label>Featured video URL <i class="icon-question-sign pull-right" title="Featured Video URL" data-content="Sets the specified video as the first video that appears in your gallery."></i></label>
									    	<input type="text" class="span3" name="vimeography_basic_settings[featured_video]" placeholder="eg. http://vimeo.com/3567483" value="{{featured_video}}" />
										</div>
										
										<div class="vimeography-gallery-menu-setting last">
											{{{basic_nonce}}}
											<input class="btn btn-primary" type="submit" value="Save Changes">
										</div>
										
								    </form>
								</div>
							</div> <!-- end group -->
							
							<div class="vimeography-gallery-menu-group">
							
								<div class="vimeography-gallery-menu-heading active">
									<a href="#vimeography-gallery-menu-appearance" data-parent="#vimeography-gallery-menu" data-toggle="collapse">Appearance <i class="icon-search icon-white pull-right"></i></a>
								</div>
								
								<div id="vimeography-gallery-menu-appearance" class="vimeography-gallery-menu-content collapse">				
							    	<div class="vimeography-gallery-menu-setting first last">
										{{#themes}}
											{{#active}}
											<ul class="vimeography-theme-list">
													<li style="margin: 0;">
														<div class="theme-container">
															<div class="theme-image">
																<img alt="{{name}}" src="{{thumbnail}}">
															</div>
															
															<div class="theme-details">
																<a href="#" data-theme="{{name}}">{{name}}</a> 
																<span><span class="label">v.{{version}}</span></span>
															</div>
															
															<a href="#" data-theme="{{name}}" class="theme-info" style="opacity: 0;">
																<strong>{{name}}</strong>
																<span>{{description}}</span>
															</a>
														</div>
													</li>
												</ul>
											{{/active}}
										{{/themes}}
										<a href="#" id="vimeography-switch-themes" class="btn btn-mini"><em class="icon-random"></em> View Themes</a>
										
										{{! Only show the edit appearance button if the theme supports custom settings}}
										{{#theme_supports_settings}}<a href="#" id="vimeography-edit-appearance" class="btn btn-mini"><em class="icon-pencil"></em> Edit Appearance</a>{{/theme_supports_settings}}
									</div>						
								</div> <!-- End Appearance -->
							</div> <!-- End group -->
							
						</div><!-- End vimeography-gallery-main-menu -->
					</div>				
				</div> <!-- End vimeography-gallery-main-menu-container -->
				
				<div id="vimeography-gallery-themes-container">
					<div class="vimeography-gallery-meta">
						<a href="#" id="vimeography-back-to-main-menu" class="btn btn-mini pull-right"><em class="icon-arrow-left"></em> Main Menu</a>
						<h1>{{title}}</h1>
						<h2>Switch Themes</h2>
					</div>
					<div id="vimeography-themes-container">
						<div id="aujus" style="position: absolute; overflow: hidden; top: 0; bottom: 0;">			
						
						  <form id="vimeography-appearance-form" method="post" action="{{admin_url}}edit-galleries&id={{id}}" style="margin: 0; width: 260px; overflow-y: auto; overflow-x: hidden;">
						    {{#themes}}
						      <div class="vimeography-gallery-menu-group">
    								<div class="vimeography-gallery-menu-heading theme-container {{#active}}selected{{/active}}">
                      <a href="#" data-theme="{{name}}">
                        <img alt="{{name}}" src="{{thumbnail}}" width="32" height="24" style="border: 1px solid #b0b0b0;">
                        <span class="theme-name">{{name}}</span><br />
                        <span class="theme-version">v.{{version}}</span>
                        {{#theme_supports_settings}}{{#active}}<i class="icon-pencil icon-white pull-right"></i>{{/active}}{{/theme_supports_settings}}
                        {{^active}}<i class="icon-ok pull-right"></i>{{/active}}
                      </a>
    								</div>
						      </div>
						    {{/themes}}
								<input id="selected-vimeography-theme" type="hidden" name="vimeography_appearance_settings[theme_name]" value="{{theme}}" />
								{{{theme_nonce}}}
							</form>
							
						</div>
					</div>
				
				</div> <!-- end gallery themes container -->
				
				{{#theme_supports_settings}} 
    				<div id="vimeography-gallery-theme-settings-container">
    					<div class="vimeography-gallery-meta">
    						<a href="#" id="vimeography-back-to-themes" class="btn btn-mini pull-right"><em class="icon-arrow-left"></em> Themes</a>
    						<h1>{{title}}</h1>
    						<h2>Edit Theme Settings</h2>
    					</div>
    					<div id="vimeography-theme-settings-container">
    						<div id="aujus2" style="position: absolute; overflow: hidden; top: 0; bottom: 0;">			
    						
    						  <form id="vimeography-theme-settings-form" method="post" action="{{admin_url}}edit-galleries&id={{id}}" style="margin: 0; width: 226px; padding: 0 17px; background-color: #e3e3e3; overflow-y: auto; overflow-x: hidden;">
    						  {{#vimeography_theme_settings}}
    						      {{{setting}}}
    						  {{/vimeography_theme_settings}}
    						    
    						    <div class="vimeography-gallery-menu-setting last">
    										{{{theme_settings_nonce}}}
    										<input class="btn btn-primary" type="submit" value="Save Changes">
    										<a href="{{admin_url}}edit-galleries&id={{id}}&delete-theme-settings=1" class="btn btn-error" title="Reset Theme Settings">Reset Settings</a>
    								</div>
    						  
    							</form>
    							
    						</div>
    					</div>
    				
    				</div> <!-- end gallery theme settings container -->
				{{/theme_supports_settings}}
			</div> <!-- end slider -->
						
		</div> <!-- End vimeography-gallery-menu-container -->
	
		<div id="vimeography-gallery-container" style="max-width: 60%; margin-left: 305px;">
			{{{vimeography}}}				    
		</div>
	</div>
	{{/gallery}}
</div>