<div class="wrap wp_bootstrap vimeography">
  <h2 class="page-title">New Gallery</h2>

  {{#messages}}
    <div class="{{type}}">
      <p><strong>{{heading}}</strong> {{message}}</p>
    </div>
  {{/messages}}

  <div class="updated">
    <p><strong>Confused?</strong> Visit the Help page to learn how to create your gallery. <a href="{{admin_url}}help" title="">Let's go &rarr;</a></p>
  </div>

  <form id="vimeography-basic-settings-form" method="post" action="{{admin_url}}new-gallery&noheader=true">

    <table class="form-table">
      <tr>
        <th scope="row"><h2>Gallery title</h2></th>
        <td>
          <h2>
            <input type="text" size="40" name="vimeography_new_gallery_settings[gallery_title]" placeholder="eg. Staff Picks" value="" />
          </h2>
        </td>
      </tr>
      <tr>
        <th scope="row"><h2>Show the videos from</h2></th>
        <td>
          <h2>
            <input type="text" size="40" name="vimeography_new_gallery_settings[source_url]" placeholder="eg. {{#get_vimeography_defaults}}{{source_url}}{{/get_vimeography_defaults}}" />
          </h2>
        </td>
      </tr>
    </table>

    <hr />
    {{{nonce}}}
    <input class="button button-primary button-large" type="submit" value="Create Gallery">
  </form>
</div>