<div class="vimeography-gallery-menu-setting vimeography-color-picker {{id}}">
  <label for="{{id}}">{{label}}</label>

  <input id="{{id}}" name="vimeography_theme_settings[{{id}}][value]" type="color" value="{{value}}" />

  {{#properties}}
    <input type="hidden" name="vimeography_theme_settings[{{id}}][targets][]" value="{{{target}}}" />
    <input type="hidden" name="vimeography_theme_settings[{{id}}][attributes][]" value="{{attribute}}" />
  {{/properties}}

  <input type="hidden" name="vimeography_theme_settings[{{id}}][namespace]" value="{{namespace}}" />
  {{#important}}
    <input type="hidden" name="vimeography_theme_settings[{{id}}][important]" value="1" />
  {{/important}}
</div>

<script type="text/javascript">
  (function($){
    $(document).ready(function(){

      function adjustColorPreview(e)
      {
        {{#properties}}
          $('{{{target}}}').css('{{attribute}}', e.value);
        {{/properties}}
      }

      function adjustColorPreviewAndSetValue(e)
      {
        adjustColorPreview(e);
        //$('#{{id}}').val(e.value);
        $('#{{id}}').attr('value', e.value);
      }

      var colorpicker = $("#{{id}}").kendoColorPicker({
        palette: null,
        buttons: false,
        select: adjustColorPreview,
        change: adjustColorPreviewAndSetValue
      }).data('kendoColorPicker');

      $(window).load(function(){
        {{#properties}}
          var value = $('{{{target}}}').css('{{attribute}}');
          colorpicker.value(value);
          //$('#{{id}}').val(value);
          $('#{{id}}').attr('value', value);
        {{/properties}}
      });
    });
  }(jQuery))
</script>