        <div class="cta-section primary">
          <h2>Join our Newsletter</h2>
          <p>Join our newsletter and get a discount code good for 10% off of your next purchase sent directly to your inbox!</p>
        </div>
        <div id="signup-form">
          <form action="https://vimeography.com/offers/email" type="post">
            <div class="cta-section secondary">
              <label for="name">Name</label><input required type="text" name="name" id="">
              <label for="email">Email</label><input required type="text" name="email" id="">
              <label for="industry">Industry</label>
                <select required name="industry" id="">
                  <option value='arts'>Arts and Artists</option>
                  <option value='consulting'>Consulting</option>
                  <option value='agency'>Creative Services/Agency</option>
                  <option value='ecommerce'>Ecommerce</option>
                  <option value='education'>Education and Training</option>
                  <option value='entertainment'>Entertainment and Events</option>
                  <option value='finance'>Finance</option>
                  <option value='freelance'>Freelancer</option>
                  <option value='gaming'>Gaming</option>
                  <option value='government'>Government</option>
                  <option value='health'>Health and Fitness</option>
                  <option value='hobbies'>Hobbies</option>
                  <option value='marketing'>Marketing and Advertising</option>
                  <option value='media'>Media and Publishing</option>
                  <option value='music'>Music and Musicians</option>
                  <option value='nonprofit'>Non-Profit</option>
                  <option value='online_communities'>Online Communities</option>
                  <option value='other'>Other</option>
                  <option value='photo_video'>Photo and Video</option>
                  <option value='real_estate'>Real Estate</option>
                  <option value='religion'>Religion</option>
                  <option value='retail'>Retail</option>
                  <option value='small_business'>Small Business</option>
                  <option value='software'>Software and Web App</option>
                  <option value='sports'>Sports</option>
                  <option value='student'>Student</option>
                  <option value='travel'>Travel and Transportation</option>
                </select>
            </div>
            <div class="cta-section tertiary">
              <input type="submit" value="Claim Your Discount">
            </div>
          </form>
        </div>