<div class="wrap wp_bootstrap vimeography">
  <h2 class="page-title">Manage Activations</h2>

  {{#messages}}
    <div class="alert alert-{{type}} fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <h3 class="alert-heading">{{heading}}</h3>
      <p>{{message}}</p>
    </div>
  {{/messages}}

  <section class="vimeography-pro-settings">
    <aside>
      <h2>Activate Your Products</h2>
      <p>Enter your Vimeography product's activation key to receive free updates for your purchase.</p>

      <form id="activation-form" class="form-inline" style="margin: 0; padding: 10px 0;" method="post" action="">
        <input type="text" name="vimeography-activation-key">
        <input type="hidden" name="vimeography-activate-key" value="1" />
        <input type="submit" form="activation-form" value="Activate Product">
        {{{nonce}}}
      </form>

    </aside>

    <table class="table table-striped wp-box" style="width: 600px; top: 10px;">
      <thead>
        <tr>
          <th>Your Products</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#activation_keys}}
          <form method="post" action="">
            <input type="hidden" name="vimeography-deactivate-key" value="1" />
            <input type="hidden" name="vimeography-activation-key" value="{{activation_key}}" />
            <tr>
              <td>{{product_name}}</td>
              <td>Activated <input type="submit" style="color: red; font-size: 18px; position: relative; top: -2px;" value="&#215; Remove Key" /></td>
            </tr>
          </form>
        {{/activation_keys}}
      </tbody>
    </table>
  </section>

</div>

<style>
  .vimeography {
    margin: 20px auto;
  }

  .vimeography h1,
  .vimeography h2,
  .vimeography h3,
  .vimeography h4,
  .vimeography h5,
  .vimeography h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }

  .vimeography-pro {
    text-align: center;
  }

  .vimeography-pro-settings aside {
    float: left;
    width: 300px;
    margin: 0 20px 0;
  }

  .vimeography-pro-settings input[type="text"] {
    height: 36px;
    width: 260px;
    font-size: 18px;
    line-height: 1.2em;
    padding: 5px;
  }

  .vimeography-pro-settings input[type="submit"] {
    height: 36px;
    font-size: 14px;
    line-height: 1.2em;
    padding: 5px 20px;
    margin: 15px 10px 0 0;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    background-color: #2ecc71;
    color: #fafafa;
  }

  .wp-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
  }
</style>