<div class="wrap wp_bootstrap">
	<div class="icon32" id="icon-options-general"><br></div>
	<h2 class="page-title">My Themes</h2>
	
	{{#messages}}
		<div class="alert alert-{{type}} fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
			<h3 class="alert-heading">{{heading}}</h3>
			<p>{{message}}</p>
		</div>
	{{/messages}}
	
	<ul id="themes">
		{{#themes}}
			<li>
				<div class="theme-container">
					<div class="theme-image">
						<img alt="{{name}}" src="{{thumbnail}}" />
					</div>
					
					<div class="theme-details">
						<a href="#" data-theme="{{name}}">{{name}}</a> 
						<span><span class="label">v.{{version}}</span></span>
					</div>
					
					<a href="#" data-theme="{{name}}" class="theme-info" style="opacity: 0;">
						<strong>{{name}}</strong>
						<span>{{description}}</span>
					</a>
				</div>
			</li>
		{{/themes}}
	</ul>
	<div class="alert alert-info" style="clear:both;">
		<h3 class="alert-heading">Install new theme</h3>
		<p>Downloaded a theme from vimeography.com? Find it below, then click install theme!</p>
		
		<form class="form-inline" style="margin: 0; padding: 10px 0;" method="post" enctype="multipart/form-data" action="">
		    <fieldset>
			    <div class="control-group">
				    <div class="controls">
					    <input name="vimeography-theme" type="file" class="input-file input-large" id="theme-uploader" style="font-size:13px;">		    		
					    <button type="submit" class="btn">Install theme</button>
				    </div>
			    </div>
		    </fieldset>
			{{{nonce}}}
	    </form>
	</div>

</div>