#vimeography-gallery-233a43bc.vimeography-hero a { color: #333333; } 
.vimeography-hero .vimeography-thumbnails { background-color: #dddddd; } 
#vimeography-gallery-233a43bc.vimeography-hero .vimeography-thumbnails img { max-width: 190px; } 
#vimeography-gallery-233a43bc.vimeography-hero .vimeography-thumbnails span { width: 190px; } 
#vimeography-gallery-233a43bc.vimeography-hero .vimeography-thumbnails span { font-size: 32; } 
#vimeography-gallery-233a43bc.vimeography-hero .vimeography-thumbnails span { line-height: 32; } 
#vimeography-gallery-233a43bc.vimeography-hero .vimeography-thumbnails span { padding-top: 22; } 
#vimeography-gallery-233a43bc.vimeography-hero .vimeography-thumbnails span { padding-bottom: 29; } 
