#vimeography-gallery-ab201771.vimeography-6up .vimeography-thumbnails img { border-color: rgba(40, 68, 228, 1); } 
#vimeography-gallery-ab201771.vimeography-6up .vimeography-thumbnails img.flex-active { border-color: rgba(205, 27, 205, 1); } 
#vimeography-gallery-ab201771.vimeography-6up .vimeography-main .vimeography-slides h1 { color: rgba(201, 47, 47, 1); } 
#vimeography-gallery-ab201771.vimeography-6up .vimeography-main .vimeography-slides p { color: rgba(193, 133, 133, 1); } 
