<div class="wrap wp_bootstrap vimeography">
  {{#has_pro}}
    {{#access_token}}
      <!-- Display Plugin Icon, Header, and Description -->
      <div class="icon32" id="icon-options-general"><br></div>
      <h2 class="page-title">Vimeography Pro</h2>
    {{/access_token}}

    {{#messages}}
      <div class="alert alert-{{type}} fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <h3 class="alert-heading">{{heading}}</h3>
        <p>{{message}}</p>
      </div>
    {{/messages}}

    {{^access_token}}

      <div class="alert alert-info fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <h3 class="alert-heading">Vimeography Pro is installed. Now what?</h3>
        <p>In order to access all of the features Vimeography Pro has to offer, you need to set up an app on Vimeo.</p>
      </div>

      <section class="vimeography-pro-settings">
        <aside>
          <h2>Create Your App</h2>
          <p>Go to the <a href="https://developer.vimeo.com/apps/new?oauth2=enabled" title="Create a new Vimeo application" target="_blank">Vimeo Apps page</a> and fill out the form with the following values:</p>
        </aside>

        <table class="table table-striped wp-box" style="width: 600px;">
          <thead>
            <tr>
              <th>Form Option</th>
              <th>Your Response</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>App Name:</strong></td>
              <td>Vimeography Pro Wordpress plugin</td>
            </tr>
            <tr>
              <td><strong>App Description:</strong></td>
              <td>Displays videos with a custom theme on {{home_url}}</td>
            </tr>
            <tr>
              <td><strong>App URL:</strong></td>
              <td>http://vimeography.com</td>
            </tr>
            <tr>
              <td><strong>App Logo URL:</strong></td>
              <td>[leave this blank]</td>
            </tr>
            <tr>
              <td><strong>App Callback URL:</strong></td>
              <td>[leave this blank]</td>
            </tr>
            <tr>
              <td><strong>Enable OAuth 2</strong></td>
              <td>[check the box]</td>
            </tr>
            <tr>
              <td><strong>Terms of Service:</strong></td>
              <td>[check the box]</td>
            </tr>
          </tbody>
        </table>
      </section>
    {{/access_token}}

    <section class="vimeography-pro-settings">
      <aside>
        {{#access_token}}
          <h2>You're all set!</h2>
          <p>Your access token ending in {{access_token}} is hooked up to your Vimeo account.</p>
          <p>Protect it like a password! Anyone who gets your token may have access to your Vimeo account.</p>

          <form method="post" action="">
            <input type="hidden" name="vimeography_pro_settings[remove_token]" value="1" />
            {{{settings_nonce}}}
            <input type="submit" value="Remove Token">
          </form>


        {{/access_token}}
        {{^access_token}}
          <h2>Register Your App</h2>
          <p>Copy your app's <strong>OAuth 2 access token</strong> and paste it here to register your app.</p>
        {{/access_token}}
      </aside>

      {{^access_token}}
        <form method="post" action="">
          <input type="text" value="" name="vimeography_pro_settings[access_token]">
          {{{settings_nonce}}}
          <input type="submit" value="Register my App">
        </form>
      {{/access_token}}
    </section>
  {{/has_pro}}

  {{^has_pro}}
    <div class="vimeography-pro">
      <h1>Vimeography Pro</h1>
      <h2>Supercharge your Vimeography Galleries</h2>
      <h5>COMING SOON</h5>
    </div>
  {{/has_pro}}

</div>

<style>
  .vimeography {
    margin: 20px auto;
  }

  .vimeography h1,
  .vimeography h2,
  .vimeography h3,
  .vimeography h4,
  .vimeography h5,
  .vimeography h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }

  .vimeography-pro {
    text-align: center;
  }

  .vimeography-pro-settings aside {
    float: left;
    width: 300px;
    margin: 0 20px 0;
  }

  .vimeography-pro-settings input[type="text"] {
    height: 36px;
    width: 360px;
    font-size: 18px;
    line-height: 1.2em;
    padding: 5px;
    margin: 25px 10px 0 0;
  }

  .vimeography-pro-settings input[type="submit"] {
    height: 36px;
    font-size: 14px;
    line-height: 1.2em;
    padding: 5px 20px;
    margin: 25px 10px 0 0;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    background-color: #2ecc71;
    color: #fafafa;
  }

  .wp-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
  }
</style>