<div id="vimeography-gallery-{{gallery_id}}" class="vimeography-bugsauce">

	<div class="vimeography-main flexslider">
		<ul class="slides">
			{{#info}}
				<li>
				<iframe id="vimeography-embed-{{gallery_id}}" src="http://player.vimeo.com/video/{{id}}?title=0&byline=0&portrait=0&api=1&player_id=vimeography-embed-{{gallery-id}}" width="820" height="461" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</li>
			{{/info}}
		</ul>
	</div>
	
	<div class="vimeography-thumbnails flexslider">
		<ul class="slides">
			{{#info}}
				<li><img src="{{thumbnail_large}}" alt="{{title}}" width="184" height="103" /></li>
			{{/info}}
		</ul>
	</div>
	
</div> <!-- End Gallery -->

<script charset="utf-8" type="text/javascript">
	// capture the gallery id, for use in any other enqueued scripts
	var gallery_id = {{gallery_id}};
</script>