<div id="vimeography-gallery-{{gallery_id}}" class="vimeography-bugsauce" data-version="{{version}}"{{#gallery_width}} style="max-width: {{gallery_width}};"{{/gallery_width}}>

	<div class="vimeography-main">
    {{#featured}}
	    <div class="vimeography-player">
	      {{{oembed}}}
	    </div>
    {{/featured}}
	</div>

	<div class="vimeography-thumbnails">
		<ul class="vimeography-slides">
			{{> videos}}
		</ul>
	</div>

</div> <!-- End Gallery -->

<script type="text/javascript">

	(function($){
		$(document).ready(function() {

			var $gallery = $('#vimeography-gallery-{{gallery_id}}');

			$gallery.fitVids();

			var slider = $gallery.find('.vimeography-thumbnails').flexslider({
				animation: "slide",
        namespace: 'vimeography-bugsauce-',
				controlNav: false,
				animationLoop: false,
				slideshow: false,
				itemWidth: 186,
				itemMargin: 8,
				useCSS: false,
				prevText: "<span></span>",
				nextText: "<span></span>",
				selector: ".vimeography-slides > li"
			}).data('flexslider');

			$gallery.find('.vimeography-thumbnails li').first().addClass('vimeography-bugsauce-active-slide');

			$gallery.on('click', '.vimeography-thumbnails img', function(e){
				$gallery.find('.vimeography-main').spin('custom');

				$('.vimeography-bugsauce-active-slide').removeClass('vimeography-bugsauce-active-slide');
				$(this).parent().addClass('vimeography-bugsauce-active-slide');

				$gallery.find('.vimeography-player').animate({'opacity':0}, 300, 'linear', function(){

					var promise = vimeography.utilities.get_video( $(this).data('link') );

		      promise.done(function (video) {
						$gallery.find('.vimeography-player').html(video.html).fitVids().animate({'opacity':1}, 300);
						$gallery.find('.vimeography-main').spin(false);

		      });

				});

    		e.preventDefault();
			});

		});
	})(jQuery)

</script>

{{#paging}}
	{{>paging}}
{{/paging}}